
body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
.contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: rgb(199, 155, 11);
	float: left;
	width: 160px;
    color: black;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;
    text-align: center;
}

section {
    color:black;
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
   margin: 0 0 0 0;
    overflow: hidden;
    width: 200px;
    }

	@media screen and ( min-width: 230px) and (max-width: 800px) {

		body {
			padding: 0px;
			margin: 0px;
			
		}

		.contenedor {
			width: 100%;
			background: #8FA68E;
			margin: 0px;
		}

		nav {
			margin: 0px;
			width: 100%;
			
		}

		section {
			margin: 0px;
			width: 100%;

		}

		aside {
			margin: 0px;
			width: 100%;
		}
	
	
	
	}